SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
# Nombre del remitente (opcional)
SMTP_FROM_NAME=
# Email del remitente (debe coincidir con SMTP_USER si es Gmail)
SMTP_FROM_EMAIL=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
# Opcional: Tiempo de espera para tareas (en segundos)
CELERY_TASK_TIME_LIMIT=
# Opcional: Número de workers en producción
CELERY_WORKER_CONCURRENCY=